#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

source "${APPLICATION_SOURCE_DIR}/../../Kconfig"

menu "Nordic UART BLE GATT service sample"

config MY_BUILD_JOHNNY_OVAL_BOARD
	bool "Build for Johnny Oval Board"
	default n

config MY_BUILD_HOST_DEMO
	bool "Build for Host Demo"
	default n

endmenu
