#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Utils"

config MY_BUILD_NRF_CONNECT_SDK
    bool "Enable support for nRF Connect SDK"
    select ZEPHYR_BASE

config MY_BUILD_STM32
    bool "Enable support for STM32"

config MY_BUILD_ZEPHYR_BASE
    bool "Enable support for ZEPHYR_BASE"

config MY_BUILD_FAKE_IMPL
    bool "Enable fake implementations"

endmenu
